/* Navigation bar */

nav {
  display: flex;
  background-color:tomato;
  align-items: center;
  padding: 20px;
  border-radius: 3px 3px 0 0;
  height: 50px;
  overflow: auto;
}

.navbar-brand {
  font-weight: bold;
}

.nav-link {
  display: flex;
  font-size: 1rem;
  margin: 0 3px;
  padding: 10px;
  font-weight:900;
}

@media (max-width: 747px) {
  .nav-link {
    font-size: 0.9rem;
  }
}

@media (max-width: 689px) {
  .nav-link {
    font-size: 0.8rem;
  }
}

.nav-right {
  margin-left: auto;
  text-align: right;
}

.main-nav-links {
  display: flex;
  justify-content: center;
  align-items: center
  white-space: nowrap;
}

@media (max-width: 556px) {
  .main-nav-links {
    display: block;
  }
}